/*  小型设备（平板电脑，768px 起） */
@media screen and (max-width: 768px) {
  .mobile-menu-list {
    border-top: 1px solid rgb(182, 182, 182);
    border-right: none;
    border-bottom: none;
    border-left: none;
    display: flex;
    align-items: center;
    justify-content: start;

    padding-left: 1.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.5rem;
    gap: 1rem;
    background-color: #293147;
  }
  .mobile-menu-link {
    font-size: 1.2rem;
    text-decoration: none;
    color: #fff;
  }
}
