.Dapp_Exchange_btn {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 23px;
  font-weight: 600;
  /* background-color: rgb(88, 118, 240); */
  background-color: #3396ff;
  border: none;
  padding: 15px 0;
  width: 100%;
  border-radius: 15px;
}
.Dapp_Exchange_btn:hover {
  background-color: #3289e5;
  color: #eaeaea;
  transition: all 0.3s ease-in-out;
}
