@font-face {
  font-family: "Inter-Regular";
  src: url("../fonts/static/Inter-Regular.ttf") format("truetype");
}

.Navbar-and-dapp {
  flex-direction: column;
}
.Navbar {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #fff;
  background-color: #293147;

  top: 0;
  left: 0;
  width: 100%;
}
.nav {
  padding: 0.6vw 3vw 0.5vw;
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 3vw;
}

.nav-icon {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.nav-in {
  font-size: 1.2vw;
  display: flex;
  gap: 2.5vw;
  align-items: center;
}
.Switch-To-Mainnet-container {
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */

  padding: 5px;

  background-color: #293147;

  border: 2.5px solid #293147;
  border-radius: 10px;

  /* color: #fff;
  font-size: 20px; */
}
.Switch-To-Mainnet-container:hover {
  border: 2.5px solid rgb(88, 118, 240);
  transition: all 0.3s ease-in-out;
}
.Ethereum-Mainnet-icon-container {
  font-size: 1.3rem;
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  gap: 1rem;
}
.Ethereum-Mainnet-icon {
  height: 30px;
  width: 30px;
}
.n1 {
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 1.5vw;
  text-decoration: none;
  color: #fff;
  gap: 1rem;
}
.mobile-menu {
  display: none;
}
.n2 {
  font-size: 1.2vw;
  color: #fff;
  text-decoration: none;
}

.n1:hover,
.n2:hover,
.n3:hover,
.n4:hover {
  color: rgb(83, 223, 236);
  transition: all 0.3s ease-in-out;
}

.nav_wallet {
  display: flex;
  gap: 3vw;
}
.wallet-address {
  display: flex;
  justify-content: center;
  background-color: rgb(88, 118, 240);
  font-size: 20px;
  padding: 9.125px 15px;
  color: #fff;
  border-radius: 15px;
  border: 0;
  text-decoration: none;
}
.wallet-address:hover {
  background-color: rgb(110, 139, 255);
  transition: all 0.4s ease-in-out;
}
.walletAddress-metamask-icon {
  display: none;
}
.connect-btn {
  display: flex;
  justify-content: space-between;
  background-color: rgb(88, 118, 240);
  /* width: 10vw; */
  font-size: 20px;
  font-weight: 600;
  padding: 9.125px 9px;
  color: #fff;
  border-radius: 15px;
  border: 0;
  justify-content: center;
}
.connect-btn:hover {
  /* background-color: rgb(83, 223, 236); */
  background-color: rgb(110, 139, 255);
  transition: all 0.4s ease-in-out;
  color: rgb(155, 175, 255);
}
.connect-btn:focus {
  outline: none;
}
.connet-btg-text-con {
  display: flex;
  gap: 0.8rem;
}
.modal {
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* 背景变暗的颜色 */
}
.wallet-choose-con {
  padding: 0.1rem 2rem 2rem;
}
.modal-content-head {
  padding: 1rem 2rem 1rem;
}
.modal-content {
  border-radius: 20px;
  background-color: #293147;
}
.modal-content-head {
  font-size: 18px;
  display: flex;
  gap: 8em;
  align-items: center;
  justify-content: space-between;
}
.X-btn-for-quit {
  width: 25px;
  font-size: 1.2em;
  border: 1px solid transparent; /* 添加一个初始的透明边框 */
  background-color: #293147;
  color: #fff;
}
.X-btn-for-quit:hover {
  border-color: #293147; /* 悬停时边框颜色不变 */
  color: #8d8d8d;
  transition: all 0.4s ease-in-out;
}
.X-btn-for-quit:focus {
  outline: none;
}
.wallet-choose-con {
  display: grid;
}
.btn-wallet {
  font-size: 16px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border: 1.5px solid #2e31e5;
  background-color: #293147;
  color: #fff;
  margin-bottom: 5%;
  border-radius: 10px;
}
.btn-wallet:hover {
  border: 1.5px solid #2e31e5;
  background-color: #1e3268;
}
.btn-wallet:focus {
  outline: none;
}
.img-icon {
  width: 22px;
}
.dapp {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #293147;
  color: #213547;

  padding: 12rem 0 27rem;

  background-size: cover;
  background-image: url("./img/HongKongViewOG.jpg");
}
.error_space {
  display: flex;

  background: rgb(255, 255, 255);
  border-radius: 16px;
  padding: 8px;
}
.MainApp {
  box-sizing: border-box;

  background: rgb(255, 255, 255);
  border-radius: 16px;
  border: 1px solid rgb(210, 217, 238);
  padding: 8px;
  margin: 0 auto;
}
.Exhchange_title {
  font-size: 20px;
  font-weight: 600;
  color: rgb(13, 17, 28);
  margin: 10px 10px 5px;
}
.change_conter {
  display: flex;
  justify-content: center;

  align-items: center;
  height: 5px; /* 调整容器的高度，根据实际情况调整数值 */
  overflow: visible;
}
.Change_direction_button_container {
  flex: 1;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Change_direction_exchange {
  align-items: center;
  justify-content: center;
  background-color: rgb(225, 225, 225);
  border: 5px solid #fff;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 10px 10px 5px;
  border-radius: 12px;
}
.Change_direction_exchange:hover {
  background-color: rgb(236, 236, 236);
}
.Change_direction_exchange:focus {
  outline: none;
}
.exhange_input_con {
  display: flex;
  background-color: rgb(245, 246, 252);
  padding: 16px;
  color: rgb(119, 128, 160);
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  align-items: center;
  border-radius: 15px;
}
.input_amont {
  text-align: left;
  font-size: 36px;
  line-height: 44px;
  color: rgb(13, 17, 28);
  font-weight: 400;
  background-color: transparent;
  border: none;
  outline: none;
}

.input_amont:placeholder-shown {
  color: #a0a0a0;
}

.input_amont[value="0"]:not(:focus) {
  color: #a0a0a0; /* 这里是您想要的颜色，可以根据需要进行调整 */
}
.defualt_price {
  margin: 0;
  padding: 0;
}
.dropdown_con {
  display: grid;
}

.balance_get {
  padding-left: 20px;
}
.dropdown {
  display: flex;
  /* position: relative; */
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 7px 9px;
  border: none;
  outline: none;
  background-color: rgb(225, 225, 225);
  color: #213547;
  border-radius: 12px;
}

.usd_option {
  cursor: pointer;
  font-weight: 600;
}
.USD_icon {
  width: 30px;
  height: 30px;
}
.dropdown_select_USD {
  font-size: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  background-color: rgb(225, 225, 225);
}
.exchange_rate {
  margin: 1%;
  color: rgb(13, 17, 28);
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  text-align: start;
}

.Dapp_Insufficient_Balance_btn {
  justify-content: center;
  display: flex;
  flex-grow: 1;
  color: #fff;
  font-size: 23px;
  font-weight: 600;
  background-color: rgb(182, 182, 182);
  border: none;
  padding: 15px 0;
  width: 100%;
  border-radius: 15px;
}
.Dapp_Switch_Network_Balance_btn {
  flex-grow: 1;
  color: #fff;
  font-size: 23px;
  font-weight: 600;
  background-color: rgb(182, 182, 182);
  border: 4px solid rgb(182, 182, 182);
  padding: 11.012px 0;
  width: 100%;
  border-radius: 15px;
  display: flex;
  justify-content: center;
}
/* .Dapp_Switch_Network_Balance_btn:hover {
  background-color: rgb(110, 139, 255);
  transition: all 0.3s ease-in-out;
} */
.Dapp_Exchange_btn {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 23px;
  font-weight: 600;
  /* background-color: rgb(88, 118, 240); */
  background-color: #3396ff;

  border: none;
  padding: 15px 0;
  width: 100%;
  border-radius: 15px;
}
.Dapp_Exchange_btn:hover {
  /* background-color: rgb(110, 139, 255); */
  background-color: #3289e5;
  color: #eaeaea;
  transition: all 0.3s ease-in-out;
}

.exchange_bt_con {
  flex-grow: 1;
}

/*  小型设备（平板电脑，768px 起） */
@media screen and (max-width: 768px) {
  /* dapp */
  .dapp {
    /* height: 10%; */
    background-image: none;
    /* padding-top: 15%;
    padding-bottom: 90%; */
    padding: 8vh 0 60vh; /* 使用 vh 单位来设置相对视口高度的上下留白 */
    width: 100%;
  }
  .error_space {
    padding: 0.3rem;
  }
  .MainApp {
    width: 100%;
    margin: 0 2% 0;
    padding: 0.3rem;
  }
  .input_amont {
    width: 80%;
  }

  .balance_get {
    padding-left: 20px;
  }
  .dropdown {
    font-size: 20px;
    /* padding: 7px 9px; */
    padding: 0.2rem;
  }

  .usd_option {
    font-weight: 500;
  }
  .USD_icon {
    width: 1.5rem;
    height: 1.5rem;
  }
  .dropdown_select_USD {
    font-size: 1.5rem;
  }

  .change_conter {
    height: 0.5rem; /* 调整容器的高度，根据实际情况调整数值 */
  }

  .balance_get {
    padding-left: 0rem;
    font-size: 1rem;
  }
  .exchange_rate {
    margin: 1%;

    font-size: 1rem;
    line-height: 1.25rem;
  }
  .Exhchange_title {
    font-size: 1.25rem;
    margin: 0.5rem 0.5rem 0.3rem;
  }
  .Dapp_Insufficient_Balance_btn {
    font-size: 1.5rem;

    padding: 0.7rem 0;
  }
  /* navbar */
  .nav {
    /* height: 100%; */
    height: 5vh; /* 使用 vh 单位来设置相对视口高度 */
    padding: 0.5rem 1rem 0.5rem;
    gap: 0.5rem;
    justify-content: space-between;
  }

  .nav-icon {
    display: flex;
    font-size: 3rem;
    display: flex;
    align-items: center;
    gap: 0.1rem;
  }

  .nav-in {
    display: flex;
    gap: 0.1rem;
    align-items: center;
  }
  .n1 {
    font-size: 1.2rem;
  }
  .mobile-menu {
    border: none;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 6px;
  }
  .mobile-menu-list {
    border-top: 1px solid rgb(182, 182, 182);
    border-right: none;
    border-bottom: none;
    border-left: none;
    display: flex;
    align-items: center;
    justify-content: start;

    padding-left: 1.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.5rem;
    gap: 1rem;
    background-color: #293147;
  }
  .mobile-menu-link {
    font-size: 1.2rem;
    text-decoration: none;
    color: #fff;
  }
  .n2 {
    display: none;
    font-size: 1.2rem;
  }

  .Ethereum-Mainnet-icon-container {
    display: none;
    font-size: 0.1rem;
    gap: 5px;
  }
  .Ethereum-Mainnet-icon {
    height: 1.5rem;
    width: 1.5rem;
  }
  .connect-btn {
    display: flex;
    width: 8rem;
    font-size: 20px;
    font-weight: 600;
    padding: 9.125px 0;
  }
  .wallet-address {
    background-color: rgb(182, 182, 182);
    /* background-color: #fff; */
  }
  .walletAddress-slice {
    display: none;
  }
  .walletAddress-metamask-icon {
    display: block;
    width: 1.55rem;
    background-color: rgb(182, 182, 182);
  }
  .connect-btg-wallet-none {
    display: none;
  }
}
